@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Lobster&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('../../../app/colors.css');

.customButton.buttonGreen {
  height: 55px;
  background: var(--primary-container);
  border-color: var(--primary-container);
  color: var(--on-primary);
  border: none;
  font-size: 16px;
  padding: 18px;
  transition: background-color 0.3s ease;
}

.buttonGreen:hover {
  background: var(--on-primary);
  color: var(--primary-container);
  box-shadow: 5px 8px 13px rgba(71, 43, 5, 0.308);
}

.customButton.buttonBlue {
  height: 55px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: var(--on-primary);
  border: none;
  font-size: 16px;
  padding: 18px;
  transition: background-color 0.3s ease;
}

.buttonBlue:hover {
  background: var(--on-primary);
  color: #007bff;
  box-shadow: 5px 8px 13px rgba(71, 43, 5, 0.308);
}

.container {
  display: 'flex';
  justify-content: 'center';
  width: 100%;
}

.container img {
  width: 100%;
  height: 600px;
}

.mainText {
  width: '800px';
  border: '2px solid red';
  position: 'absolute';
  top: '50%';
  right: '30px';
  color: 'white';
  font-size: '70px';
  font-weight: 'bold';
  font-family: 'EagleLake';
  text-align: 'end';
  border-radius: '8px';
}

.description {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}

.font {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'PT Sans';
}

.svg {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Медиазапросы */

/* Ноутбуки (1024px — 1199px) */
@media (max-width: 1199px) {
  .container {
    height: 300px;
    font-size: 100px;
  }

  .container img {
    max-height: 400px;
  }

  .description {
    margin-top: 110px;
  }

  .customButton.buttonGreen,
  .customButton.buttonBlue {
    height: 45px;
    font-size: 14px;
    padding: 12px 5px;
  }
}

/* Планшеты (768px — 1023px) */
@media (max-width: 1023px) {
  .mainText {
    font-size: 40px;
    width: 400px;
    right: 20px;
  }

  .container img {
    max-height: 400px;
  }

  .customButton.buttonGreen,
  .customButton.buttonBlue {
    height: 40px;
    font-size: 12px;
    padding: 10px 14px;
  }

  .description {
    margin-top: 110px;
  }

  .font {
    font-size: 24px;
  }
}
