@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Lobster&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('../../../app/colors.css');

.button {
  height: 55px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: var(--on-primary);
  border: none;
  font-size: 16px;
  padding: 18px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: var(--on-primary);
  color: #007bff;
  box-shadow: 5px 8px 13px rgba(71, 43, 5, 0.308);
}
