.container {
  background-color: var(--on-primary);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 400px; /* Ограничиваем ширину карточки */
  height: auto; /* Убираем фиксированную высоту */
  overflow: hidden; /* Убираем переполнение */
}

.sharedBy {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary);
  margin-bottom: 10px;
}

.sharedBy strong {
  color: var(--on-primary-container);
}

/* Исправим позиционирование тегов в правом верхнем углу */
.tags {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Стиль для карусели */
.carousel {
  margin-bottom: 10px; /* Убираем лишний отступ снизу */
  height: 180px; /* Высота карусели */
  border-radius: 8px;
}


/* Описание */
.description {
  color: var(--on-surface);
  overflow: hidden;
  height: 100px; /* Ограничиваем высоту для текста */
  text-overflow: ellipsis; /* Многоточие для длинного текста */
  margin-top: 0; /* Убираем отступ сверху */
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--on-surface);
  margin: 6px 0; /* Убираем лишние отступы */
  white-space: nowrap; /* Не переносить название */
  overflow: hidden;
  text-overflow: ellipsis; /* Многоточие для длинного названия */
}

.separator {
  height: 1px;
  background-color: var(--outline);
  margin: 8px 0;
}

.text {
  font-size: 14px;
  line-height: 1.6;
  color: var(--on-surface);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ограничиваем описание до 3 строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Показываем многоточие, если текст не вмещается */
}

/* Для маленьких экранов */
@media (max-width: 768px) {
  .container {
    height: auto;
  }

  .text {
    -webkit-line-clamp: 2; /* Ограничиваем описание до 2 строк на мобильных */
  }

  .description {
    max-height: none; /* Убираем ограничение по высоте */
  }
}

