/* Стили для текста и комментариев */

.routeTitle {
  font-family: 'PT Sans';
  font-size: 30px;
  font-weight: 600;
  color: var(--on-surface);
  margin-bottom: 10px;
}

.routeCategory {
  font-family: 'PT Sans';
  font-size: 26px;
  color: var(--secondary);
  margin-bottom: 10px;
}

.routeDescription {
  font-family: 'PT Sans';
  color: var(--on-surface);
  font-size: 26px;
  line-height: 1.6;
  margin-bottom: 20px;
  white-space: normal;
  overflow-wrap: break-word;
}
