@import url('../../app/colors.css');

.header {
  background: var(--on-primary);
  color: var(--primary);
  padding: 12px 24px;
  box-shadow: 0 4px 15px rgba(139, 85, 14, 0.308);
}

.header img {
  border-radius: 8px;
}

.header h1 {
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
}

.header button {
  background: var(--primary);
  color: var(--on-secondary);
  border-color: var(--primary);
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.header button:hover,
.avatar:hover {
  background-color: var(--surface-variant);
  color: var(--md-sys-color-on-variant);
  box-shadow: 5px 8px 13px rgba(71, 43, 5, 0.308);
}

.avatar {
  border: 2px solid var(--primary);
  padding: 2px;
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
