/* Контейнер карточек */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Уменьшаем расстояние между карточками */
  justify-content: center;
  padding: 0;
  width: 100%;
}

/* Карточка */
.card {
  width: calc(25% - 8px); /* Фиксированная ширина карточки с уменьшенным gap */
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Адаптивность */
@media (max-width: 1024px) {
  .card {
    width: calc(33.333% - 8px); /* 3 карточки на строку */
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 8px); /* 2 карточки на строку */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* 1 карточка на строку */
  }
}


