.commentSection {
    padding: 20px;
    max-width: 1000px; /* Ограничиваем ширину формы */
    margin: 0 auto;  /* Выравнивание по центру */
  }
  .commentForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем все элементы по центру */
    gap: 12px;
    margin-bottom: 16px;
    max-width: 1000px;
  }

  .commentButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Выравнивание кнопки по правому краю */

  }
  
  .commentInput {
    width: 100%;
    max-width: 800px; /* Ограничение ширины текстового поля */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    resize: vertical; /* Разрешаем изменение высоты */
    margin: 0 auto; /* Центрируем поле ввода */

  }
  
  .commentButton {
     align-content: center;
    max-width: 200px;  /* Ограничение ширины кнопки */
  
  }
  
  .commentList {
    margin-top: 20px;
  }
  
  .commentItem {
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;  /* Отступ между комментариями */
    padding: 16px 0;
  }
  
  .date {
    color: #6c757d;
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  .commentHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;  /* Чтобы изображение не искажалось */
    margin-right: 10px; /* Немного отступа от имени */
  }
  
  .username {
    font-weight: bold;
    font-size: 16px;
  }
  
  .commentText {
    font-size: 15px;
    line-height: 1.4;
    color: #333;
    font-family: 'Verdana', sans-serif;  /* Пример изменения шрифта */
  }
  
  .commentDelete {
    align-self: flex-end;
    margin-left: auto;  /* Кнопка справа */
    color: rgb(30, 179, 130);
    font-size: 20px;
    background: #007bff;
  }
  
  .modalButtons .Button {
    background: #007bff;
  }
  