@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Lobster&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('../../../app/colors.css');

.routeForm {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.routeForm h1 {
  font-family: 'PT Sans';
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  gap: 30px;
}

.mapContainer {
  flex: 2;
  width: 70%;
  height: 600px;
}

.formContainer {
  text-align: center;
  background: var(--on-primary);
  color: var(--primary);
  padding: 12px 24px;
  box-shadow: 0 4px 15px rgba(139, 85, 14, 0.308);
}

.formContainer p {
  margin-top: 30px;
  font-family: 'PT Sans';
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.buttonsToAdd {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.routeForm button {
  background: var(--primary);
  color: var(--on-secondary);
  border-color: var(--primary);
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.routeForm button:hover {
  background: var(--on-primary);
  color: var(--secondary);
  border-color: blue;
  box-shadow: 5px 8px 13px rgba(71, 43, 5, 0.308);
}

.formContainer {
  flex: 1;
  width: 20%;
  text-align: center;
  background: var(--on-primary);
  color: var(--primary);
  padding: 12px 24px;
  box-shadow: 0 4px 15px rgba(139, 85, 14, 0.308);
  border-radius: 8px;
}

@media (max-width: 1400px) {
  .buttonsToAdd {
    flex-flow: column;
  }

  .formContainer p {
    margin-top: 3px;
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .routeForm h1 {
    font-family: 'PT Sans';
    font-weight: 300;
    text-align: center;
    font-size: 30px;
  }

  .container {
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .mapContainer {
    width: 100%;
    height: 400px;
  }

  .formContainer {
    width: 100%;
    max-width: none;
  }

  .formContainer p {
    margin-top: 20px;
    font-size: 20px;
  }

  .buttonsToAdd {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

@media (max-width: 425px) {
  .buttonsToAdd {
    flex-flow: column;
    align-items: center;
  }
}
